{% extends "printshop/base.html" %} {% load static %} {% block content %} {% include 'printshop/breadcrumb.html' %}
<!--Contact section starts-->
<section class="contact-section v1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-title">
                    <h3>Write To Us</h3>
                </div>
                <form id="contactForm" data-toggle="validator" class="contact-form shake">
                    <div class="form-control-wrap">
                        <input id="name" type="text" class="form-control" name="Name" autocomplete="off" required="" data-error="Please enter your name" placeholder="Name*">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-control-wrap">
                        <input id="Email" type="email" class="form-control" name="email" autocomplete="off" required="" data-error="Please enter your email" placeholder="Email*">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-control-wrap">
                        <textarea id="message" class="form-control textarea" rows="10" name="Message" required="" data-error="Please enter your message subject" placeholder="Message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-submit">
                        <button class="button style1" name="submit" type="submit" id="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 offset-md-1 col-sm-12">
                <div class="contact-widget res-box mar-bot-30">
                    <h3>Get In Touch</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quae eum cupiditate et impedit in!</p>
                </div>
                <div class="contact-widget res-box mar-bot-30">
                    <h3>Opening Hours</h3>
                    <ul>
                        <li>Mon-Thursday - <span>9.00-23.00</span></li>
                        <li>Sat-Sunday - <span>9.00-20.00</span></li>
                        <li>Friday - <span>off</span></li>
                    </ul>
                </div>
                <div class="contact-widget res-box mar-bot-30">
                    <ul class="social-buttons style2">
                        <li><a href="Socials"><i class="ion-social-facebook"></i></a></li>

                        <li><a href="Socials"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="Socials"><i class="ion-social-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Contact section ends-->
<section class="map-section no-pad-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div id="mapid" data-lat="51.505" data-lang="-0.09" class="listing-detail-map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;">
                    <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="leaflet-pane leaflet-tile-pane">
                            <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                                <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(0px, -1px, 0px) scale(1);"><img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(436px, 103px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(436px, -153px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#png" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(180px, 103px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile"
                                        style="width: 256px; height: 256px; transform: translate3d(692px, 103px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(436px, 359px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(180px, -153px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(692px, -153px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile"
                                        style="width: 256px; height: 256px; transform: translate3d(180px, 359px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(692px, 359px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(-76px, 103px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(948px, 103px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(-76px, -153px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(948px, -153px, 0px); opacity: 1;"><img alt="" role="presentation" src="#" class="leaflet-tile"
                                        style="width: 256px; height: 256px; transform: translate3d(-76px, 359px, 0px); opacity: 1;">
                                    <img alt="" role="presentation" src="#" class="leaflet-tile" style="width: 256px; height: 256px; transform: translate3d(948px, 359px, 0px); opacity: 1;"></div>
                            </div>
                        </div>
                        <div class="leaflet-pane leaflet-shadow-pane"></div>
                        <div class="leaflet-pane leaflet-overlay-pane"></div>
                        <div class="leaflet-pane leaflet-marker-pane"></div>
                        <div class="leaflet-pane leaflet-tooltip-pane"></div>
                        <div class="leaflet-pane leaflet-popup-pane">
                            <div class="leaflet-popup  leaflet-zoom-animated" style="opacity: 1; transform: translate3d(555px, 199px, 0px); bottom: -7px; left: -46px;">
                                <div class="leaflet-popup-content-wrapper">
                                    <div class="leaflet-popup-content" style="width: 51px;"><img src="#"></div>
                                </div>
                                <div class="leaflet-popup-tip-container">
                                    <div class="leaflet-popup-tip"></div>
                                </div><a class="leaflet-popup-close-button" href="#close">×</a></div>
                        </div>
                        <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(3.35377e+07px, 2.23161e+07px, 0px) scale(131072);"></div>
                    </div>
                    <div class="leaflet-control-container">
                        <div class="leaflet-top leaflet-left">
                            <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in leaflet-disabled" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a></div>
                        </div>
                        <div class="leaflet-top leaflet-right"></div>
                        <div class="leaflet-bottom leaflet-left"></div>
                        <div class="leaflet-bottom leaflet-right">
                            <div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com/" title="A JS library for interactive maps">Leaflet</a> | Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,
                                Imagery Â© <a href="https://www.mapbox.com/">Mapbox</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Scroll to top starts-->
<a href="#" id="scrolltotop" style="display: none;"><i class="ion-ios-arrow-thin-up"></i></a>
<!--Scroll to top ends-->
{% endblock content %}