{% extends "printshop/base.html" %} {% load static %} {% block content %} {% include 'printshop/breadcrumb.html' %}
<!--FAQ Section starts-->
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Frequently Asked Questions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 single-faq-section mar-tb-30">
                <div class="row">
                    <div class="col-md-3 col-sm-12 faq-category">
                        <h5 class="text-red res-box">Shipping</h5>
                    </div>
                    <div class="col-md-9 col-sm-12 ">
                        <div class="row single-faq-item">
                            <div class="col-md-6">
                                <div class="faq-query res-box">
                                    <h5>What shipping methods are availabe?</h5>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="faq-ans res-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse suscipit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row single-faq-item">
                            <div class="col-md-6">
                                <div class="faq-query res-box">
                                    <h5>Do you Ship internationally?</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="faq-ans res-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse suscipit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row single-faq-item">
                            <div class="col-md-6">
                                <div class="faq-query res-box">
                                    <h5>how long will it take to get my packages?</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="faq-ans res-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse suscipit?
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 single-faq-section mar-tb-30">
                <div class="row">
                    <div class="col-md-3 faq-category">
                        <h5 class="text-red  res-box">Payments</h5>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="row single-faq-item">
                                <div class="col-md-6">
                                    <div class="faq-query  res-box">
                                        <h5>What payment methods are accepted?</h5>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="faq-ans  res-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse
                                            suscipit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row single-faq-item">
                                <div class="col-md-6">
                                    <div class="faq-query  res-box">
                                        <h5>Is buying online safe?</h5>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="faq-ans  res-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse
                                            suscipit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 single-faq-section mar-tb-30">
                <div class="row">
                    <div class="col-md-3 faq-category">
                        <h5 class="text-red res-box"> Order &amp; returns</h5>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="row single-faq-item">
                                <div class="col-md-6">
                                    <div class="faq-query res-box">
                                        <h5>How do I place an order?</h5>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="faq-ans res-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse
                                            suscipit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row single-faq-item">
                                <div class="col-md-6">
                                    <div class="faq-query res-box">
                                        <h5>How Can I Cancel or Change my order?</h5>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="faq-ans res-box">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dolorem voluptas dolorum eum tempore, accusantium officia deleniti est culpa autem praesentium, commodi, accusamus ea. Accusamus at iusto enim, esse
                                            suscipit?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FAQ Section ends-->
<!--Scroll to top starts-->
<a href="#" id="scrolltotop" style="display: none;"><i class="ion-ios-arrow-thin-up"></i></a>
<!--Scroll to top ends-->
{% endblock content %}