{% extends "printshop/base.html" %} {% load static %} {% block content %} {% include 'printshop/banner.html' %}
<!-- Category section Starts-->
<section class="category-section style1 no-pad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-8">
                <div class="row">
                    <div class="row">
                        {% for feat in feature %}{% for img in feat.product_image.all %}{% if img.is_active %}
                        <div class="col-md-3 no-pad">
                            <div class="cat-img style1 bg-antique s-left text-center">
                                <img src="{{ img.feature_image.url }}" alt="{{ img.alt_text.alt_text }}">
                            </div>
                        </div>
                        <div class="col-md-3 no-pad">
                            <div class="cat-content style1 text-center">
                                <div class="cat-arrow-left d-none-2"></div>
                                <h2><span>{{feat.name}}</span><br> Collection
                                </h2>
                                <p>{{feat.description}}</p>
                                <a href="#" class="link-hov style1">Shop Now</a>
                            </div>
                        </div>
                        {% endif %}{% endfor %}{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section Ends-->
<!--Product area starts-->
<section class="product-tab-section tab-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title style1 mar-bot-10">
                    <h2>Trending</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content product-tab-item" id="myTabContent">
                    <div class="tab-pane fade active show" id="new" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            {% for trend in trending %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mar-bot-30">
                                <div class="single-product-wrapper style4">
                                    <div class="single-product-item v1">
                                        {% for img in trend.product_image.all %}{% if img.is_active %}
                                        <img class="product-img" src="{{ img.shop_image.url }}" alt="..."> {% endif %} {% if img.is_smart_edit %}
                                        <img class="product-img-hover" src="{{ img.shop_image.url }}" alt="..."> {% endif %}{% endfor %}
                                        <div class="sidebar-content-wrap v2 sidebar-single-active text-center">
                                        </div>
                                        <div class="product-overlay style1">
                                            <a href="#" data-toggle="modal" data-target="#exampleModal"><span class="ion-ios-eye-outline" data-toggle="tooltip" data-placement="right" title="Quick view"></span></a>
                                            <a href="#"><span class="ion-ios-heart-outline" data-toggle="tooltip" data-placement="right" title="Add to wishlist"></span></a>
                                            <a href="#"><span class="ion-arrow-resize" data-toggle="tooltip" data-placement="right" title="Add to compare"></span></a>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="product-details--1st">
                                            <div class="product-name"><a href="#">
                                                {{ trend.name }}
                                            </a></div>
                                            <div class="rating-summary">
                                                <div class="rating-result" title="60%">
                                                    <ul class="product-rating">
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                        <li><i class="ion-android-star-half"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-price">
                                                <span class="price">Ksh {{ trend.price }}</span>
                                            </div>
                                        </div>
                                        <div class="product-details--hover">
                                            <div class="product-list-options">
                                                <div class="product-color">
                                                    <a class="bg-green" href="#"></a>
                                                    <a class="bg-antique" href="#"></a>
                                                    <a class="bg-amber" href="#"></a>
                                                </div>
                                            </div>
                                            <a href="#" class="button style1">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product area ends-->
<!--Deals Section starts-->
{% for deal in layouts %}{% for img in deal.layout_image.all %}{% if img.is_deals %}
<section class="promo-section bg-400 pad-top-40" style="background-image: url('{{ img.deal_image.url }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <!-- product-sidebar-wrap start -->
                <div class="product-sidebar-wrap res-box pad-tb-15">
                    <div class="sidebar-content-title">
                        <p>{{deal.title}}</p>
                        <h3>{{deal.subtitle}}</h3>
                        <span>{{deal.description}}</span>
                    </div>
                    <div class="sidebar-content-wrap v1 sidebar-single-active text-center">
                        <div class="daily-deals-wrap v1 pad-tb-15">
                            <!-- countdown start -->
                            <div class="countdown-deals text-center" data-countdown="{{deal.end_date}}"></div>
                            <!-- countdown end -->
                        </div>
                    </div>
                    <a class="button style2" href="#">Shop Now</a>
                </div>
                <!-- product-sidebar-wrap end -->
            </div>
        </div>
    </div>
</section>
{% endif %}{% endfor %}{% endfor %}
<!--Deals Section ends-->
<!-- Blog section Starts-->
<section class="blog-section style1 mar-top-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 text-left">
                <div class="section-title style1 mar-bot-10">
                    <h2>Tips & tricks</h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="blog-slider style1 swiper-container">
                    <div class="swiper-wrapper">
                        {% for blog in blogs %}{% for img in blog.blog_image.all %}{% if img.is_lead %}
                        <div class="single-blog-item style1 swiper-slide">
                            <div class="blog-img mar-bot-30">
                                <img src="{{img.lead_image.url}}" alt="Image">
                            </div>
                            <p><a href="#">{{blog.category}}</a> / <span>{{blog.created_at}}</span></p>
                            <h3 class="mar-top-10"><a href="#">{{blog.title}}</a></h3>
                        </div>
                        {% endif %}{% endfor %}{% endfor %}
                    </div>
                </div>
                <!--pagination-->
                <div class="blog-navigation v1">
                    <div class="swiper-button-prev">
                        <i class="ion-ios-arrow-thin-left"></i>
                        <span> Prev</span>
                    </div>
                    <div class="swiper-button-next">
                        <span>Next</span><i class="ion-ios-arrow-thin-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog section Ends-->
<!--Scroll to top starts-->
<a href="#" id="scrolltotop"><i class="ion-ios-arrow-thin-up"></i></a>
<!--Scroll to top ends-->
{% endblock content %}