{% extends "printshop/base.html" %} {% load static %} {% block content %} {% include 'printshop/breadcrumb.html' %}
<!-- wishlist section ends-->
<section class="wishlist-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-content table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="plantmore-product-thumbnail">Product Image</th>
                                <th class="cart-product-name">Product Name</th>
                                <th class="plantmore-product-price">Unit Price</th>
                                <th class="plantmore-product-stock-status">Stock Status</th>
                                <th class="plantmore-product-add-cart">add to cart</th>
                                <th class="plantmore-product-remove">remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="plantmore-product-thumbnail">
                                    <a href="/single_product"><img src="{% static '/img/feature/2.jpg' %}" alt="..." style="width: 90px; height: 90px"></a>
                                </td>
                                <td class="plantmore-product-name"><a href="/single_product">Nullam maximus</a></td>
                                <td class="plantmore-product-price"><span class="amount">$23.39</span></td>
                                <td class="plantmore-product-stock-status"><span class="button style2">in stock</span></td>
                                <td class="plantmore-product-add-cart"><a class="button style3" href="/wishlist">add to cart</a></td>
                                <td class="plantmore-product-remove"><a href="#"><i class="ion-ios-close-empty"></i></a></td>
                            </tr>

                            <tr>
                                <td class="plantmore-product-thumbnail">
                                    <a href="/single_product"><img src="{% static '/img/feature/2.jpg' %}" alt="..." style="width: 90px; height: 90px"></a>
                                </td>
                                <td class="plantmore-product-name"><a href="/single_product">Sit voluptatem</a></td>
                                <td class="plantmore-product-price"><span class="amount">$40.19</span></td>
                                <td class="plantmore-product-stock-status"><span class="button style1">out of stock</span></td>
                                <td class="plantmore-product-add-cart"><a class="button style3" href="/wishlist">add to cart</a></td>
                                <td class="plantmore-product-remove"><a href="#"><i class="ion-ios-close-empty"></i></a></td>
                            </tr>
                            <tr>
                                <td class="plantmore-product-thumbnail">
                                    <a href="/single_product"><img src="{% static '/img/feature/2.jpg' %}" alt="..." style="width: 90px; height: 90px"></a>
                                </td>
                                <td class="plantmore-product-name"><a href="/single_product">Natus erro</a></td>
                                <td class="plantmore-product-price"><span class="amount">$30.50</span></td>
                                <td class="plantmore-product-stock-status"><span class="button style2">in stock</span></td>
                                <td class="plantmore-product-add-cart"><a class="button style3" href="/wishlist">add to cart</a></td>
                                <td class="plantmore-product-remove"><a href="#"><i class="ion-ios-close-empty"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 text-left mar-top-20">
                <div class="res-box">
                    <a href="/catalog" class="button style1"><i class="ion-android-arrow-back"></i> Back to shop</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-right mar-top-20">
                <div class="res-box">
                    <a href="#" class="button style1">Update wishlist <i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- wishlist section ends-->


<!--Scroll to top starts-->
<a href="#" id="scrolltotop" style="display: none;"><i class="ion-ios-arrow-thin-up"></i></a>
<!--Scroll to top ends-->
{% endblock content %}