{% extends "printshop/base.html" %} {% load static %} {% block content %}
<!--Breadcrumb Area start-->
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}
<div class="breadcrumb-section bg-s" style="background-image: url('{% static '/img/bg/header/4.jpg' %}')">
    <div class="container-fluid ">
        <div class="row">
            <div class="breadcrumb-content middle-v t-center">
                <h3 class="page-title">
                    {% block breadcrumb %} Password Reset {% endblock breadcrumb %}</h3>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li>
                        {% block breadcrumb_link %}
                        <a href="account">{% endblock breadcrumb_link %}
                    {% block breadcrumb_name %} Password Reset {% endblock breadcrumb_name %}
                    </h3>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb Area ends-->
<!--User login section starts-->
<section class="user-login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="ui-dash tab-content mar-bot-30">
                    <div class="tab-pane fade show active" id="login" role="tabpanel">
                        <form id="login-form" action="{% url 'UserAccount:pwdreset' %}" method="POST"> {% for field in form %} {% if field.errors %}
                            <div class="alert alert-primary" role="alert">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}{% endfor %}
                            <p class="h3 mb-4 font-weight-bold">Forgotten your password?</p>
                            <p>Enter your e-mail address to obtain a new password.</p>
                            {% csrf_token %}
                            <div class="form-group text-dark">
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-12">
                                        <div class="res-box">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="button style1" value="Send e-mail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- <div class="social-profile-login text-center">
                            <h5>Or Login with</h5>
                            <ul class="social-buttons style2 mar-top-20">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--User login section endss-->
<!--Scroll to top starts-->
<a href="#" id="scrolltotop" style="display: none;"><i class="ion-ios-arrow-thin-up"></i></a>
<!--Scroll to top ends-->
{% endblock content %}